@{
    ViewData["Title"] = "About Us?";
}
<!DOCTYPE html>
<html>
<head>
    <title>What are we about</title>
</head>
<img src="~/Think.png" alt="" />
<body>
    <h2>Hand crafted trinkets and memoirs from the heart of a tribesman</h2>
    <ul>
        <p>In the heart of South Africa, Jason Khumalo, a descendant of an ancient African tribe, stands as a beacon of craftsmanship and cultural preservation. Inspired by the rich traditions of his people, Jason has dedicated his life to celebrating the vibrant heritage of South Africa through his artistry. With skillful hands and a deep reverence for his ancestors, he meticulously crafts intricate carvings, vibrant textiles, and mesmerizing storytelling that reflect the soulful essence of African culture. Through his work, Jason not only honors the legacy of his tribe but also fosters a sense of unity and pride among his fellow South Africans. His craftsmanship serves as a powerful reminder of the enduring beauty and resilience of South Africa's cultural tapestry, inspiring others to cherish and celebrate their heritage. </p>

    </ul>
   

</body>
</html>